{% extends 'base.html.twig' %}

{% block title %}Welcome to SnowTricks!{% endblock %}

{% block body %}

<header>

    <a href='{{ path('trick_index') }}'> tricks </a>

{% if app.user %}

    <a href='{{ path('logout') }}'> logout </a>

{% else %}

    <a href='{{ path('login') }}'> login </a>
    <a href='{{ relative_path('register') }}'> register </a>

{% endif %}

</header>

<trick-list>
<ul>
{% for trick in tricks %}
    <li>{{ trick.name }}</li> 
    <li>comments {{ trick.comments|length }}</li> 
    <li><a href=''>view trick</a></li>   
{% endfor %} 
    </ul>
</trick-list>
{% endblock %}
